<script src="../widget-v4.tidiochat.com/1_79_0/static/js/render.b024cc83c770c5982f49.js" async></script>
<!DOCTYPE html>

<html lang="en">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="utf-8">
    <title><%=pageTitle%> | TakerBTCExchanges</title>
    <link rel="shortcut icon" href="/assets/img/favicon/favicon.png" type="image/x-icon">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/account.css">
    <link rel="stylesheet" href="/assets/css/plans.css">
    <script src="/assets/libs/jquery/jquery-1.9.1.min.js"></script>
    <script src="/assets/libs/modernizr/modernizr.js"></script>
    <script src="/assets/js/common.js"></script>

    <link rel="stylesheet" href="/assets/css/extra.css">
    <link rel="stylesheet" href="/assets/css/themefisher-fonts.css">
    <script src="/assets/js/calculator.js"></script>
</head>

<body>
    <%-body%>
    <script src="//code.tidio.co/vs44hs9pnd47ipzui7flc6f6y4gurrae.js" async></script>
</body>

</html>